 #sidebar {
  background: #2F303A;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height:100vh;
  width: 55px;
 }

#back-icon{ 
  float: right;
  }

#search-input{
  display: block;
  width: 95%;
  padding: 20px;
  margin: 20px 8px 20px 8px;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

#input::placeholder {
  color: #B0BEC5;
}

#input:focus {
  outline: none;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

#close{
  float:right;
  color:white;
  margin: 8px 8px 8px 8px;
  font-size: 25px;
  cursor: pointer; 
}

#content{
  background-color: #1B1B1B;
  margin: 12px 12px 12px 12px;
  height: 70vh
}


::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #282a2d;
  border: 2px solid #282a2d;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #4a4d52;
  border-radius: 10px;
}


.pagination__link--active a {
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 1px;
}

#search-result{
  color: white;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

#page{
  color:white;
  text-align: center;
  padding:10px;
}

.pagination {
  display: inline-flex;
  flex-direction: row;
}
#filter-content{
  position: relative; 
  background-color: #1B1B1B;
  margin: 12px 12px 12px 12px;
  height: 80%
}

.content{
  color: white;
  height: 80%;
  overflow-x: hidden;
  overflow-y:auto;
}
.page-item{
  border: none;
  outline: none;
  padding: 4px 10px;
  font-size: 14px;
}

.page-item:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}

/* .content1{
  color: white;
  overflow-x: hidden;
  overflow-y:auto;
} */

#all{
  font-size: 18px;
  background-color: #242424;
}

.hovericon:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}

.icon:hover {
  border-color: white !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}

.sidecloseIcon{
  float: left;
  margin-left: 11px;
  cursor: pointer;
  font-size:30px;
  border: none;
  outline: none;
  padding: 1px 5px;
}


/* .circle-icon {
  background: #ffc0c0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
} */

#filterIcon{
  display: inline-block;
  margin-right: 8px;
  font-size: 20px;
}

#filterIcon-debris{
  display: inline-block;
  margin-right: 8px;
  font-size: 25px;
}

#clearIcon{
  margin-right: 10px;
  float: right;
  cursor: pointer;
  font-size:20px;

}

#clearIcon1{
  margin-right: 10px;
  float: left;
  font-size:20px;

}

#hamIcon{
  margin-right: 10px;
  float: left;
  cursor: pointer;
  font-size:20px;
}

#sidebarClose{
  background: #2F303A;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: white;
  width: 3%;

}

#dropIcon{
  margin-right: 10px;
  float: right;
  cursor: pointer;
  font-size:25px;

}

.sidebar-button:hover{
  box-shadow: rgba(255, 255, 255, 0.972) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.733) 0px 18px 36px -18px inset;}

.labels{
  background-color: #1B1B1B;
  color:white;
  font-size: 100%;
  margin-top: 10px;
  padding: 10px 10px 10px 0px;
}

.labels2{
  background-color: #1B1B1B;
  color:white;
  font-size: 100%;
  padding: 10px 10px 10px 10px;
}

/* .labels1:hover{
    background-color:	#404040;
 } */

hr{
  border: 0; 
  border-top: 1px solid #2F303A;
}

#dropIcon:hover {
  border-color: white !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}